.table-row {
  border-bottom: 3px solid var(--gray-00);
  box-shadow: 0 4px 6px var(--shadow-light);
}

.table-row:first-child {
  border-top: 3px solid var(--gray-00);
  box-shadow: 0 4px 6px var(--shadow-light);
}

.table-row:last-child {
  border-bottom: none;
}

.table-row td {
  padding: 10px 32px;
}

.expanded-row {
  display: none;
}

.table-row .text {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h3);
  font-family: var(--font-heading);
}

@media (min-width: 740px) {
  .mobile-toggle {
    display: none;
  }
}

@media (max-width: 740px) {
  .expanded-row {
    display: table-row;
  }

  .expanded-row .expanded-content {
    display: flex;
    flex-direction: column;
    padding: 10px 32px;
    gap: 8px;
  }

  .expanded-row .expanded-content p {
    display: flex;
    justify-content: space-between;
  }
}
