.wrapper {
  max-width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  background-color: var(--white-neutral);
  box-shadow: var(--shadow-light);
}

.logo {
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

@media (max-width: 870px) {
  .top-content {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    width: 100%;
  }
}
